WEB_CONTAINER_NAME=cf-calculation-web
WEB_PORT=7055

API_CONTAINER_NAME=cf-calculation-api
API_HOST=0.0.0.0
API_PORT=7056
API_KEY={api_key}

FEEDBACK_DATABASE_URL=postgresql://feedback_user:feedback_password@postgres-host:5432/tools-feedback
FEEDBACK_DATABASE_SSL=false
FEEDBACK_AUTO_INIT_TABLE=false

DINGTALK_WEBHOOK_URL=https://oapi.dingtalk.com/robot/send?access_token=change_me
DINGTALK_SECRET={DingTalk_secret}
